<div class="row">
  <div class="col-md-6">
    <h3>Day 1, Thu, Feb 23rd</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">2. Short Introduction to Programming in Python</a></td> </tr>
      <tr> <td></td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">3. Starting With Data</a></td> </tr>
      <tr> <td></td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">4. Indexing, Slicing and Subsetting DataFrames in Python</a></td> </tr>
      <tr> <td>05:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h3>Day 2, Fri, Feb 24th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Any outstanding issues from the previous day</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">5. Data Types and Formats</a></td> </tr>
      <tr> <td></td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">6. Combining DataFrames with Pandas</a></td> </tr>
      <tr> <td>05:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h3>Day 3, Thu, Mar 2nd</h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Any outstanding issues from the previous day</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">7. Data Workflows and Automation</a></td> </tr>
      <tr> <td></td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">8. Making Plots With plotnine</a></td> </tr>
      <tr> <td>05:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h3>Day 4, Fri, Mar 3rd</h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Any outstanding issues from the previous day</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">9. Data Ingest and Visualization - Matplotlib and Pandas</a></td> </tr>
      <tr> <td></td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html">10. Accessing SQLite Databases Using Python and Pandas</a></td> </tr>
      <tr> <td>05:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>	
    </div>
